* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}


a  {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: auto;
}


.text-primary{
    color: #f7c08a;
}

.btn {
    font-size: 18px;
    background-color: #333;
    padding: 15px 20px;
    border-radius: 5px;
}
.btn-light{
    font-size: 18px;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    color: #333;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-primary{
    background: #f7c08a;
}
.clr{
    clear: both;
}

/*navigation*/
#navbar { 
    background-color: #333;
    color: #fff;
    height: 40px;
    padding-top: 5px;
    
}
#navbar h1{
    float: left;
    padding-left: 20px;
}
#navbar ul{
    float: right;
    list-style: none;
   
}
#navbar ul li{
    float: left;
}

#navbar ul a{
  padding: 20px;  
}
#navbar ul a:hover{
    text-decoration: underline;
    color: #f7c08a;
}
/*showcase*/
#showcase{
    background: url(showcase.jpg) no-repeat center center/cover;
    height: 400px;
}
.showcase-content{
    text-align: center;
    color: #fff;
    padding-top: 100px;
}   
.showcase-content p {
    margin-bottom: 30px;
}

#home-info{
    height: 400px;
}
#home-info .info-img{
    background: url(info.jpg) no-repeat center center/cover;
    height: 100%;
    width: 50%;
    float: left;
}
#home-info .info-content{
    text-align: center;
    color: #fff;
    height: 100%;
    float: right;
    width: 50%;
    background-color: #333;
    padding: 70px 10px;

}
#home-info .info-content p {
    margin-bottom: 50px;
}
#home-info .info-content a:hover{
    text-decoration: underline;
    color: #333;
}
#features{
    text-align: center;
}

.box{
    float: left;
    width: 33.33%;
    padding: 50px;
}
.box i{
    font-size: 50px;
}
#about-info {
    padding: 20px;
}
#about-info .info-left{
    float: left;
    width: 40%;
    height: 100%;


}
#about-info .info-right{
    float: right;
    width: 40%;
    height: 100%;

}
#about-info .info-right img{
    width: 70%;
    margin-top: auto;
    border-radius: 50%;
    display: block;
}
#testimonials{
    /* padding-top: 100px; */
     height: 600px;
     background: url(bg-1.jpg) no-repeat center center/cover;
    
}

#testimonials h2{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;

}

#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    height: 200px;
    opacity: 0.8;
}

#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50px;
}


#main-footer{
    text-align: center;
    background-color: #444;
    color: white;
    padding: 20px;
}
#main footer p{
    margin-top: 5px;
}

#containers{
        margin-left: 180px;
        max-width: fit-content;
        padding: 0%;
        

}
.form-wrap{
   text-align: left;
   height:620px;
   width: 330px;
   margin-top: 20px;
   padding-bottom: 20px;

}
.form-wrap span{
    color: #f7c08a;
}
/* .form-wrap { */
    /* 
      This is the white area around the form and heading, etc
    */
   /* border: solid 1px;
   height:540px;
   width: 330px;
   margin-top: 20px;
}  */
.form-wrap .form-group label {
    /* 
      Label should be turned into a block element
    */
    margin-bottom:10px;
   text-align:left;
   margin-left: 1px;
}
.form-wrap .form-group {
    /* 
      Each label, input is wrapped in .form-group
    */
    word-wrap: normal;
}
.form-wrap .form-group input {
    /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
    width: 1250px;
    padding: 5px;
    border: solid 1px;
    height: 35px;
}
.form-wrap .form-group1 input {

    height: 300px;
    width: 1250px;
    padding-bottom: 280px;

}

.btn-contact{
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    width: 24%;
}
#form-wrap h2{
    color: #f7c08a;
}
.form-wrap button:hover {
    /* 
      Hover background color for button is #37a08e
    */
    color: #f7c08a;
    text-decoration: underline;
}
.bg-light1{
    background: #333;
    color: #f4f4f4;
}
#features1{
    text-align: center;
}


